* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

.navbar {
    background: #333;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler-icon {
    background: #fff;
}

.banner {
    background: #ddd;
    padding: 25px;
}

h1 {
    padding: 25px;
}

h1 span {
    color: red;
}

.banner p {
    padding: 0 25px;
    text-align: justify;
}

.about {
    padding: 25px;
}

h2 {
    text-align: center;

}

.qualification {
    padding: 25px;
    text-align: center;
    background: #ddd;
}

.box {
    padding: 50px;
    border: 3px solid red;
    transition: 500ms;
}

.box:hover {
    transform: scale(0.8);

}

.services {
    text-align: center;
    padding: 25px;
    background: #000000;
    color: #ddd;
}

.services li {
    display: inline-block;
    margin: 20px;
    border: 5px solid;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    transition: ease-in 500ms;
}

.services li:hover {
    color: #8df7ff;
    border: 5px solid #0000ff;
}

.project {
    text-align: center;
    padding: 25px;
}

.pro {
    border: 2px solid;
    margin: 20px;
    padding: 30px 10px;
    transition: ease-in-out 500ms;
    background: #ddd;
    border-radius: 20px;
}

.pro:hover {
    transform: scale(1.2);
    background: #0000ff;
}

.pro a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.pro:hover a {
    color: #fff;
}

.contact {
    padding: 50px 25px;
    background: url(./image/contact.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.footer {
    background: #333;
    padding: 50px;
    text-align: center;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.footer a:hover {
    color: #fff;
}

.footer h4 {
    padding: 20px;
    background: #000;
    display: inline-block;
    margin: 30px 0;
}

@media (min-width: 1200px) {}

@media (min-width: 992px) {}

@media (min-width: 768px) {
    .footer a {
        font-size: 16px;
        margin: 0;
    }
}

@media (min-width: 576px) {}